body {
	background-color: #657077;
}

img {
	vertical-align: middle;
	margin-right: 20px;
}

#notifier_box {
	background-color: #FFFFFF;
	padding: 10px 50px 10px 50px;
	border: 1px solid #464C54; 
	margin: -10px auto 0px auto;
	text-align: center;

	display: none;
}

#notifier_box img {
	width: 32px;
	height: 32px;
}

#tabbed_box {
	margin: 0px auto 0px auto;
	width: 800px;
}

.tabbed_box h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 23px;
	color: #FFFFFF;
	letter-spacing: -1px;
	margin-bottom: 40px;
	text-align: center;
}

.tabbed_area {
	border: 1px solid #494E52;
	background-color: #636D76;
	padding: 8px;
}

ul.tabs {
	margin: 0px;
	padding: 0px;
	margin-top: 5px;
	margin-bottom: 6px;
	text-align: center;
}

ul.tabs li {
	list-style: none;
	display: inline;
}

ul.tabs li a {
	background-color: #464c54;
	color:	#FFEBB5;
	padding: 8px 14px 8px 14px;
	text-decoration: none;
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	border: 1px solid #464c54;
}

ul.tabs li a:hover {
	background-color:#2f343a;
	border-color:#2f343a;
}

ul.tabs li a.active {
	background-color: #FFFFFF;
	color: #282E32;
	border: 1px solid #464C54;
	border-bottom: 1px solid #FFFFFF;
}

.under_tabbed_area {
        background-color: #FFFFFF;
        padding: 8px;
}

ul.under_tabs {
        margin: 0px;
        padding: 0px;
        margin-top: 5px;
        margin-bottom: 6px;
        text-align: center;
}

ul.under_tabs li {
        list-style: none;
        display: inline;
}

ul.under_tabs li a {
        background-color: #464c54;
        color:  #FFEBB5;
        padding: 8px 14px 8px 14px;
        text-decoration: none;
        font-size: 9px;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        border: 1px solid #464c54;
}

ul.under_tabs li a:hover {
        background-color:#2f343a;
        border-color:#2f343a;
}

ul.under_tabs li a.active {
        background-color: #FFFFFF;
        color: #282E32;
        border: 1px solid #464C54;
        border-bottom: 1px solid #FFFFFF;
}


.content {
	background-color: #FFFFFF;
	padding: 20px 50px 40px 50px;
	border: 1px solid #464C54; 
}

.content h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 20px;
	letter-spacing: -1px;
	text-align: center;

	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;

	margin-bottom: 40px;
}

.content .table {
	
	display: table;
	width: 100%;
	border-collapse: collapse;
	text-align: left;

	margin: 0px;
}

.content .row {
	display: table-row;
}

.content img {
	display: table-cell;
}

.content .table span {

	display: table-cell;
	border-bottom: 1px solid #DDDDDD;
}

.content .val {
	
	width: 450px;
	text-align: right;
	border-bottom: 1px solid #DDDDDD;
}

#content_2, #content_3 {
	display: none;
}

.content ul {
	margin: 0px;
	padding: 0px 20px 0px 20px;
}

.content img {
	width: 32px;
	height: 32px;
}

.under_content {
	background-color: #FFFFFF;
	padding: 20px 50px 40px 50px;
	border: 1px solid #464C54; 
	margin-top: 7px;
}

#foot_box {
	border: 1px solid #494E52;
	background-color: #636D76;
	margin-top: 40px;
	padding: 8px;
	text-align: center;
}

#foot_box p {
	color:	#FFEBB5;
	text-decoration: none;
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0px;
	margin: 0px;
}

