body {
	background-color: #657077;
}

img {
	vertical-align: middle;
	margin-right: 20px;
}

#notifier_box {
	background-color: #FFFFFF;
	border: 1px solid #464C54; 
	padding: 5px 10px 5px 10px;
	margin: -20px auto 20px auto;
	text-align: center;

	display: none;
}

#notifier_box img {
	width: 24px;
	height: 24px;
}

#notifier_box span {
	font-size: 14px;
}

#dialog {
	display: none;
}

#dialog p {
	margin-bottom: 0px;
	font-size: 16px;
}

#dialog p.value {
	margin-top: 0px;
	padding-left: 20px;

	letter-spacing: -1px;
	font-style: oblique;
	font-size: 14px;
}

.hidden {
	display: none;
}

#main {
	margin: 0px auto 0px auto;
	padding: auto;
	width: 800px;

	text-align: center;
}

.main h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 23px;
	color: #FFFFFF;
	letter-spacing: -1px;
	text-align: center;

	margin-bottom: 0px;
}

.main #logout {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: -1px;
	text-align: center;
	font-style: oblique;

	margin-bottom: 40px;
}

.main #logout :hover {
	font-weight: bold;
	
	border-bottom: 1px solid #FFFFFF;
}

.tabbed_area {
	border: 1px solid #494E52;
	background-color: #636D76;
	padding: 8px;

	text-align: left;

        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
}

ul.tabs {
	margin: 0px;
	padding: 0px;
	margin-top: 5px;
	margin-bottom: 6px;
	text-align: center;
}

ul.tabs li {
	list-style: none;
	display: inline;
}

ul.tabs li a {
	background-color: #464c54;
	color:	#FFEBB5;
	padding: 8px 14px 8px 14px;
	text-decoration: none;
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	border: 1px solid #464c54;

        border-top-left-radius: 10px;
        -webkit-border-radius-topleft: 10px;
        -moz-border-top-left-radius: 10px;
}

ul.tabs li a:hover {
	background-color:#2f343a;
	border-color:#2f343a;
}

ul.tabs li a.active {
	background-color: #FFFFFF;
	color: #282E32;
	border: 1px solid #464C54;
	border-bottom: 1px solid #FFFFFF;
}

ul.under_tabs {
        text-align: center;
	height: 25px;
}

ul.under_tabs li {
        list-style: none;
        display: inline;
}

ul.under_tabs li a {
        background-color: #464c54;
        color:  #FFEBB5;
        padding: 8px 14px 8px 14px;
        text-decoration: none;
        font-size: 9px;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        border: 1px solid #464c54;

        border-top-left-radius: 10px;
        -webkit-border-radius-topleft: 10px;
        -moz-border-top-left-radius: 10px;
}

ul.under_tabs li a:hover {
        background-color:#2f343a;
        border-color:#2f343a;
}

ul.under_tabs li a.active {
        background-color: #FFFFFF;
        color: #282E32;
        border: 1px solid #464C54;
        border-bottom: 1px solid #FFFFFF;
}


.content {
	background-color: #FFFFFF;
	padding: 20px 50px 40px 50px;
	border: 1px solid #464C54; 

        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
}

.content h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 20px;
	letter-spacing: -1px;
	text-align: center;

	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;

	margin-bottom: 40px;
}

.content h5 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
	font-style: oblique;
        color: #444444;
        letter-spacing: -2px;
        margin-bottom: 40px;
        text-align: center;
	border-bottom: 1px solid #DDDDDD;
}

#sensor_data img {
	display: table-cell;
}

#sensor_data .table span {

	display: table-cell;
	border-bottom: 1px solid #DDDDDD;
}

#sensor_data .val {
	
	width: 450px;
	text-align: right;
	border-bottom: 1px solid #DDDDDD;
}

#sensor_data .sensor_name {
	font-family: "Courier New", Arial, Helvetica, sans-serif;
	font-style: oblique;
	letter-spacing: -3px;
}

#driver_data .driver_name {
	font-family: "Courier New", Arial, Helvetica, sans-serif;
	font-style: oblique;
	letter-spacing: -3px;
}

#rules_data .rule_name {
	font-family: "Courier New", Arial, Helvetica, sans-serif;
	font-style: oblique;
	letter-spacing: -3px;
}

#rules_data .rule_cond {
	border-left: 1px dotted #464C54;
	margin-left: 5px;
	padding-left: 30px;
}

#content_2, #content_3 {
	display: none;
}

.content ul {
	margin: 0px;
	padding: 0px 20px 0px 20px;
}

.sensor_img {
	width: 32px;
	height: 32px;
}

.under_content {
	background-color: #FFFFFF;
	padding: 0px 40px 20px 40px;
	border: 1px solid #464C54; 

        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
}

#rules, #remote {
	display: none;
}

.table {
	
	display: table;
	width: 75%;
	border-collapse: collapse;
	text-align: left;

	margin: auto;
	margin-bottom: 20px;
}

.row {
	display: table-row;
	border-bottom: 1px solid #DDDDDD;
}

.cell {
	display: table-cell;
	width: 50%;
}

.device_list {
	border-left: 1px dotted #464C54;
	margin-left: 5px;
	padding-left: 50px;
}

.device_list span {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: -1px;

	margin-right: 40px;
}

img.tiny_btn {
	width: 32px;
	height: 32px;
}

.driver_list span {
	margin-right: 40px;
}

.tiny_link img {
	width: 16px;
	height: 16px;

	margin-right: 5px;
}

.tiny_link {
	font-style: oblique;
	text-decoration: none;	
	font-size: 9px;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-transform: uppercase;
}

.tiny_link span {
	color: #800080;
	margin-right: 5px;
}

.tiny_link :hover {
	border-bottom: 1px dashed #800080;
	font-size: 10px;
}

#help_data {
	padding: 0px 20px 10px 20px;
	margin: 10px auto 20px auto;
}

#foot_box {
	border: 1px solid #494E52;
	background-color: #636D76;
	margin-top: 40px;
	padding: 8px;
	text-align: center;

        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
}

#foot_box p {
	color:	#FFEBB5;
	text-decoration: none;
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0px;
	margin: 0px;
}

.auth .text {
	
	margin: auto;
	background: #EEEEEE;
	padding: 3px 10px 3px 10px;
	margin-top: 5px;
	text-align: center;

	border: 1px solid #DDDDDD;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.auth .button {
	border: 1px solid #DDDDDD;

	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;

	letter-spacing: -1px;

	padding: 3px 10px 3px 10px;
}

.auth .content {
	width: 80%;
	margin: auto;

	text-align: center;

        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
}

p.error_msg {
	color: #FF0000;

	text-align: center;
	font-style: oblique;
	letter-spacing: -1px;

	display: none;

	margin-bottom: 40px;
}

form.edit_sensor .text {

        margin: auto;
        background: #EEEEEE;
        padding: 3px 10px 3px 10px;
        margin-top: 5px;
        text-align: center;

        border: 1px solid #DDDDDD;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;

	margin-left: 20px;
	font-size: 14px;
}

